<%= javascript_pack_tag 'hello_react' %>
<div id="jumbo_ppal" class ="jumbotron">
  <img id = "img_barra" src = "https://image.flaticon.com/icons/svg/1057/1057659.svg"  style="width:50px;height:50px;float:left;margin-right:10px">
  <h2 id ="titulo"> Spectre </h2>
</div>

<div id = "jumbito" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">El valor de la seguridad.</h1>
    <img id = "señorcongafas" src = "https://image.flaticon.com/icons/svg/1000/1000928.svg"  style="width:250px;height:250px;float:right;margin-right:10px">
    <p id = "txt_jmb" class="lead">Nuestro algoritmo de cifrado hace incomprensible su información</p>
    <p id = "txt_jmb" class="lead">a toda persona que no tenga la clave secreta</p>
  </div>
</div>
<div id = "cont_todo"class = "container-fluid">
  <div class="row justify-content-center">
    <div class="col-7" >
      <div id="home-index" >
      </div>
    <div>
  <div>
</div>
</div>
 