<%= javascript_pack_tag 'hello_react' %>

<div class="container-fluid">
<nav class="navbar">
<a  id = " nevi" class="navbar-brand" href="#">
    <img src="https://image.flaticon.com/icons/png/512/1057/1057659.png" width="30" height="30" class="d-inline-block align-top" alt=""></img>
    Spectre
</a>
</nav>
  <div id = "cont_todo" class = "container ">
    <div class="row justify-content-center">
        <div id="home-index" >
    <div>
  <div>
</div>


 