<%= javascript_pack_tag 'hello_react' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-7" >
      <h2 id ="titulo"> Cripto-mania </h2>
      <div id="home-index" >
      </div>
    <div>
  <div>
</div>
 